@font-face {
    font-family: 'CobraKai';
    src: url('../fonts/cobra-kai.ttf');
}
@font-face {
    font-family: 'BebasKai';
    src: url('../fonts/BebasKai.ttf');
}
@font-face {
    font-family: 'Plantin';
    src: url('../fonts/Plantin.otf');
}
html, body{
	height: 100%;
}
/*
Yellow: f4e150;
Red: fc2930;
*/
html.locked, body.locked{
	overflow: hidden;
}
.loader-overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: #000;
	transition: all 1s;
}
/*.loader-overlay.loaded{
	opacity: 0;
}*/
.header {
	width: 164px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	transform: translateY(-500px);
	transition: all .3s;
}
.header.active {
	transform: translateY(0px);
}
.header ul{
	list-style: none;
	display: flex;
	padding: 5px;
	margin: 0 auto;
	background-color: rgba(255,255,255,.6);
	border-bottom-left-radius: 10px;
}
.header ul > li{
	flex: 1;
	padding: 5px;
}
.intro-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.intro-container .text-wrapper{
	position: absolute;
	width: auto;
    height: auto;
	color: white;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	text-align: center;
	transform: translate(-50%, -50%);
	z-index: 4;
}
.intro-container .text-wrapper h1{
	font-family: 'CobraKai';
	font-size: 100px;
	text-shadow: 0 0px 3px #000;
	/*color: #05090c;*/
	color: rgba(255,255,255,1);
	margin: 0 auto;
	transition: color 1s, text-shadow 1s;
}
.intro-container:hover .text-wrapper h1{
	color: #fc2930;
	text-shadow: 0 5px 3px #000;

}
.intro-container .text-wrapper h2{
	font-family: 'BebasKai';
	text-shadow: 0 0 0px #000;
    margin: -10px auto 0 auto;
	font-size: 40px;
	letter-spacing: -0.05em;
	color: rgba(255,255,255,.8);
	transition: color 1s, text-shadow 1s;
}
.intro-container:hover .text-wrapper h2{
	color: #f4e150;
	text-shadow: 0 0 5px #000;
}

.colored, .gray{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
}
.colored{
	background-image: url("/images/jungle-sun-background.jpg");
	transform: scale(1);
	transition: transform 1s;
	overflow: hidden;
	z-index: 1;
}
.gray{
	background-color: rgba(0,0,0,.6);
	opacity: 1;
	transition: opacity 1s;
	z-index: 3;
}
.intro-container:hover .gray{
	opacity: 0;
}
.intro-container:hover .colored{
	transform: scale(1.2);
	overflow: hidden;
}
.down-arrow{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	height: 30px;
	width: 30px;
	z-index: 5;
	cursor: pointer;
}
.intro-container .down-arrow{
	opacity: 0;
	transition: opacity 1s;
}
.down-arrow path{
	fill: #fff;
}
.intro-container:hover .down-arrow{
	opacity: .6;
}
.intro-container:hover .down-arrow:hover{
	opacity: 1;
}
.bio-container{
	background-color: #fff;
 	min-height: 100%;
    padding-bottom: 30px;
	position: relative;
}
.bio-container > h1 {
	text-align: center;
	font-family: 'CobraKai';
	font-size: 70px;
	margin: 15px auto 0px auto;
	color: #fc2930;
	text-shadow: 0 0px 3px #000;
}
.bio-container > .content-wrapper{
	display: flex;
	align-items: stretch;
}
.bio-container > .content-wrapper > div {
	flex: 1;
	position: relative;
}
.hero-image {
    padding: 10px 25px 25px 25px;
	box-sizing: border-box;
}
.hero-image img{
	max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
}

.bio-container > .content-wrapper > div.content {
    margin: 10px 25px 25px 0;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: rgba(244, 225, 80, .8);
	border: 2px solid #fc2930;
}
.bio-item{
	margin-bottom: 15px;
}
.bio-item .title {
	text-decoration-style: block;
	font-family: 'CobraKai';
	font-size: 30px;
	color: #fc2930;
}
.bio-item .description{
	font-family: 'BebasKai';
	font-size: 20px;
}
.bio-container.down-arrow path{
	fill: #000;
}
.events-container.parallax-window {
	height: auto;
    min-height: 100%;
    background: transparent;
    position: relative;
}
.parallax-window .overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.4)
}
/*.events-container{
	position: relative;
	height: 100%;
}*/
.events-container h1{
	color: #f4e150;
	font-family: 'CobraKai';
	font-size: 70px;
	margin: 0 auto;
	padding-top: 25px;
	text-align: center;
	transition: all .3s;
}
ul#events-list{
	list-style: none;
	margin: 0 auto;
	max-width: 600px;
	padding-top: 0px;
	padding-bottom: 45px;
}
ul#events-list li {
    background-color: rgba(255,255,255,.6);
    padding: 25px 0;
    border-radius: 10px;
    margin: 15px 0;
    transition: all .3s;
}
ul#events-list li:hover {
	background-color: rgba(244, 225, 80, .8);
	transform: scale(1.05);
}
ul#events-list li:hover h1{
	text-shadow: 0px 2px 5px rgba(0,0,0,.8);
}
ul#events-list li a{
	text-decoration: none;
}
ul#events-list a h1{
	padding-top: 0px;
}
ul#events-list a h1{
	color: #fc2930;
	font-family: 'CobraKai';
	font-size: 35px;
	text-align: center;
	text-decoration: none;
	padding-top: 0px;
}
ul#events-list h2, ul#events-list h3{
	text-align: center;
	font-family: 'BebasKai';
	color: rgba(0,0,0,.8);
	margin: 0 auto;
}
.social-container{
	background-color: #fff;
	height: 50%;
	position: relative;
}
.social-container ul {
	list-style: none;
	display: flex;
    justify-content: space-evenly;
    padding: 0px;
}
.social-container ul li{
	text-align: center;
}
.social-container ul li a{
	display: block;
	transform: scale(1);
	transition: all .3s;
}
.social-container ul li a:hover{
	transform: scale(1.1);
}
.social-container ul li svg{
	height: 100%;
	width: 50%;
}
.social-container h1{
	text-align: center;
	font-family: 'CobraKai';
	color: #fc2930;
	font-size: 70px;
	margin-top: 25px;
}
.divider.parallax-window{
	height: 80%;
}
.gallery-container{
	background-color: #fff;
 	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.gallery-container > h1 {
	text-align: center;
	font-family: 'CobraKai';
	font-size: 70px;
	margin: 25px auto 0px auto;
	color: #fc2930;
	text-shadow: 0 0px 3px #000;
}
.gallery-container li{
	list-style: none;
}
.gallery-container li img{
	border-radius: 10px;
}
.gallery-container .down-arrow path{
	fill: #000;
}
.owl-carousel{
	padding: 65px 0 90px 0;
}
.owl-stage-outer{
	padding-bottom: 10px;
}
.owl-carousel.owl-drag .owl-item{
	opacity: .4;
	transition: all .3s;
}
.owl-carousel.owl-drag .owl-item:hover:not(.center){
	cursor: pointer;
	opacity: .75;
	transition: all .3s;
}
.owl-carousel.owl-drag .owl-item.active.center {
	opacity: 1;
}
.owl-carousel.owl-drag .owl-item.active.center img {
	box-shadow: 0 0 5px rgba(0,0,0,.8);
	transition: all .3s;
}
.owl-theme .owl-dots .owl-dot span {
    background: rgba(252, 41, 48, .2);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: rgba(252, 41, 48, 1);
}
.footer-copy{
	display: block;
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
	font-size: 20px;
	background-color: rgba(244, 225, 80, .8);
	text-align: center;
	font-family: 'BebasKai';
	color: rgba(252, 41, 48, 1);
}
.footer-copy a{
	text-decoration: none;
	color: rgba(252, 41, 48, 1);
	font-family: 'CobraKai';
	font-size: 25px;
	padding-left: 3px;
}